* {
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 3%;
    padding-top: 3%;
    padding-bottom: 8%;
}

.logo {
    margin: 0 0 1.5rem;
}

.text-header {
    width: 90%;
}

.title {
    font-size: 28px;
    font-weight: 700;
}

.description {
    font-size: 15px;
    line-height: 20px;
    opacity: 0.7;
}

.form {
    margin: 10% 5%;
}

.form label {
    font-size: 15px;
    font-weight: 900 !important;
}

.form input,
.form select {
    font-size: 15px;
    opacity: .6;
}

.rounded-form {
    border-radius: 25px !important;
    border-top-left-radius: 10px !important;
}

.btn-form {
    margin-top: 10px;
    background-color: #E03B65;
    color: white;
    padding: 12px 40px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 14px;
}

.btn-form:hover {
    color: #3B3174;
}

.btn-form.focus,
.btn-form:focus {
    box-shadow: none !important;
}


/* Modal de saticfaccion */

.modal-alert-success {
    position: fixed;
    border: 1px solid gray;
    background: #3e2e77;
    border-top-left-radius: 30px;
    color: white;
    padding: 15px;
    padding-top: 5px;
    right: 0;
    animation: slideModalAlert 2s;
}

.btn-close {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 22px;
    border: none;
}

.btn-close:hover {
    transform: scale(1.5);
    color: white;
    border: none;
}

.btn-close.focus,
.btn-close:focus {
    border: none !important;
    box-shadow: none !important;
}

.close-modal-alert {
    position: fixed;
    border: 1px solid gray;
    background: #3e2e77;
    border-top-left-radius: 30px;
    color: white;
    padding: 15px;
    padding-top: 5px;
    right: 0;
    animation: slideCloseModalAlert 2s;
}

@keyframes slideModalAlert {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .text-header {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .col-lg-6 .media-col {
        max-width: 48%;
    }
}