<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba tecnica</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="app" class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-10">
                <div class="row justify-content-center pl-2 pr-2 pb-3 pb-md-5 pl-md-5 pr-md-5">
                    <figure class="logo">
                        <img src="img/sigma-logo.png" class="img fluid" alt="logo sigma">
                    </figure>
                    <div class="text-center text-header">
                        <div class="title mb-4">
                            Prueba de desarrollo Sigma
                        </div>
                        <div class="description justify-content-sm-center">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-11 col-md-6 col-lg-6 align-self-center p-3">
                        <img src="img/sigma-image.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 media-col shadow bg-white rounded-form ">
                        <form class="form" @submit.prevent="CheckForm" method="POST">
                            <div class="form-group">
                                <label for="Departament">Departamento *</label>
                                <select name="Departament" class="form-control" :class="{'is-invalid':ErrorDepartament}" id="Departament" @change="changeDepartament(Departament)" v-model="Departament">
                                    <option :value="null" disabled selected>Seleccionar un departamento</option>
                                    <option v-for="(Departament,index) in OptionsDepartament" :value="Departament.value" :key="index">{{Departament.text}}</option>
                                </select>
                                <div v-if="ErrorDepartament" class="invalid-feedback">
                                    Campo requerido
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="City">Ciudad *</label>
                                <select name="City" class="form-control" id="City" :class="{'is-invalid':ErrorCity}" v-model="City">
                                    <option :value="null" disabled selected>Seleccionar una ciudad</option>
                                    <option  v-for="(City,index) in OptionsCity" :value="City.value" :key="index">{{City.text}}</option>
                                </select>
                                <div v-if="ErrorCity" class="invalid-feedback">
                                    Campo requerido
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Name">Nombre *</label>
                                <input type="text" name="Name" class="form-control" id="Name" :class="{'is-invalid':ErrorName}" v-model="Name" maxlength="50" placeholder="Pepito de Jesús">
                                <div v-if="ErrorName" class="invalid-feedback">
                                    Campo requerido
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Email">Correo *</label>
                                <input type="text " name="Email " class="form-control " :class="{'is-invalid':ErrorEmail}" id="Email " v-model="Email" maxlength="30" placeholder="Pepitodejesus@gmail.com">
                                <div v-if="ErrorEmail" class="invalid-feedback">
                                    {{MessageEmail}}
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button class="btn btn-form">ENVIAR</button>
                            </div>
                        </form>
                    </div>
                    <div v-if="FormStatus" class="modal-alert-success">
                        <button type="button" class="btn btn-close" @click="CloseModal">
                                <span>&times;</span>
                        </button>
                        <div class="modal-body">
                            {{MessageAlert}}
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</body>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            DataTreeDepartament: [],
            OptionsDepartament: [],
            Departament: null,
            OptionsCity: [],
            City: null,
            Name: null,
            Email: null,
            //Agrega clase de error
            ErrorDepartament: false,
            ErrorCity: false,
            ErrorName: false,
            ErrorEmail: false,
            //Mesaje dinamico con respecto al validador de correo 
            MessageEmail: "",
            //Estado Final del formulario
            FormStatus: false,
            //mesaje alerta
            MessageAlert: null
        },
        methods: {
            changeDepartament(OptionDepartament) {
                this.OptionsCity = [];
                this.City = null;
                this.ErrorDepartament = this.Departament === null ? true : false;
                for (const City of this.DataTreeDepartament[OptionDepartament]) {
                    this.OptionsCity.push({
                        text: `${City}`,
                        value: `${City}`
                    });
                }
            },
            CheckForm() {
                this.ErrorDepartament = this.Departament === null ? true : false;
                this.ErrorCity = this.City === null ? true : false;
                this.ErrorName = this.Name === null ? true : false;

                if (!this.Email) {
                    this.ErrorEmail = true
                    this.MessageEmail = "Campo requerido.";
                } else if (this.validEmail(this.email)) {
                    this.ErrorEmail = true
                    this.MessageEmail = "Validar si el correo esta Correctamente.";
                } else {
                    this.ErrorEmail = false
                    this.MessageEmail = "";
                }

                if (!this.ErrorDepartament && !this.ErrorCity && !this.ErrorName && this.Email) {
                    axios
                        .post('EnvioDatos.php', {
                            Departament: this.Departament,
                            City: this.City,
                            Name: this.Name,
                            Email: this.Email
                        })
                        .then(response => {
                            console.log(response);
                            this.MessageAlert = response.data.message;
                            this.FormStatus = true;
                        })
                        .catch(error => console.log(error))
                }
            },
            validEmail: function(email) {
                var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            },
            CloseModal() {
                this.FormStatus = false;
                location.reload();
            }
        },
        mounted() {
            axios
                .get('https://sigma-studios.s3-us-west-2.amazonaws.com/test/colombia.json')
                .then(response => {
                    this.DataTreeDepartament = response.data

                    for (const Departament in response.data) {

                        this.OptionsDepartament.push({
                            text: `${Departament}`,
                            value: `${Departament}`
                        });
                    }

                })
                .catch(error => console.log(error))

        },
        watch: {
            City(newValue, oldValue) {
                if (newValue != null && newValue != "") {
                    this.ErrorCity = false
                } else {
                    this.ErrorCity = true
                }
            },
            Name(newValue, oldValue) {
                if (newValue != null && newValue != "") {
                    this.ErrorName = false
                } else {
                    this.ErrorName = true
                }
            },
            Email(newValue, oldValue) {
                if (!this.validEmail(newValue)) {
                    this.ErrorEmail = true
                    this.MessageEmail = "Validar si el correo esta Correctamente.";
                } else {
                    this.ErrorEmail = false
                    this.MessageEmail = "";
                }
            }
        }
    })
</script>

</html>